{
  "openapi": "3.1.0",
  "info": {
    "title": "API SADI",
    "version": "1.0.0",
    "description": "API REST do sistema SADI (Digifarma) para integração de parceiros. Consulta de produtos, clientes e vendas, além de registro de pedidos e pré-vendas.\n\n## Pré-requisitos\n\nAntes de conseguir chamar qualquer rota, sua integradora precisa de **duas coisas emitidas pela Digifarma**:\n\n1. **Usuário de integração** — o valor do header `x-digifarma-user` só é válido se emitido pela Digifarma. Não existe auto-cadastro.\n2. **Liberação dos CNPJs das lojas** — cada CNPJ de farmácia que você pretende consultar precisa estar liberado para o seu usuário na base da Digifarma.\n\nSolicite ambos via **filipe@digifarma.com.br** informando o nome da integradora, contato técnico e a lista de CNPJs a atender.\n\n## Boas práticas — `User-Agent`\n\nEnvie em **todas** as requisições um header `User-Agent` personalizado com o **nome da sua empresa/integradora** (ex: `MinhaEmpresa/1.0`). Isso é essencial para que a Digifarma identifique a origem das chamadas, dê suporte e diagnostique problemas por integradora. Evite o User-Agent genérico da sua biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`, `axios`).",
    "contact": {
      "name": "Digifarma",
      "url": "https://digifarma.com.br"
    }
  },
  "servers": [
    {
      "url": "https://sadi.digifarma.com.br/api",
      "description": "Produção"
    }
  ],
  "tags": [
    {
      "name": "Autenticação"
    },
    {
      "name": "Loja"
    },
    {
      "name": "Cliente"
    },
    {
      "name": "Produto"
    },
    {
      "name": "Vendas"
    },
    {
      "name": "Utilitários"
    }
  ],
  "paths": {
    "/GetToken": {
      "post": {
        "operationId": "getToken",
        "summary": "GetToken - Autenticação",
        "description": "Gera um **token de acesso** para a integradora. Este token deve ser enviado no header `x-digifarma-token` em todas as demais requisições da API.\n\nO token tem validade limitada. Renove chamando este endpoint novamente quando expirar.\n\n**Pré-requisitos:**\n\n- O `x-digifarma-user` precisa ter sido **emitido pela Digifarma** — não há auto-cadastro. Solicite via filipe@digifarma.com.br.\n- O `cnpj` informado precisa estar **liberado para o seu usuário** na base da Digifarma. Envie a lista de CNPJs que sua integradora atenderá junto do pedido do usuário.",
        "tags": [
          "Autenticação"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "description": "Identificação da sua integradora — use o **nome da sua empresa** (ex: `MinhaEmpresa/1.0`). Boa prática **obrigatória**: nos ajuda a identificar a origem das chamadas e a dar suporte. Evite o User-Agent genérico da biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`).",
            "schema": {
              "type": "string",
              "example": "MinhaEmpresa/1.0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "description": "CNPJ da integradora (somente dígitos, sem formatação)"
                  }
                },
                "required": [
                  "cnpj"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "token": "seu-token-aqui"
                }
              }
            }
          }
        }
      }
    },
    "/GetDadosLoja": {
      "post": {
        "operationId": "getDadosLoja",
        "summary": "GetDadosLoja",
        "description": "Retorna os **dados fiscais e cadastrais** da loja vinculada ao CNPJ informado. Utilizado tipicamente para exibir cabeçalho da loja em telas de integração.",
        "tags": [
          "Loja"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "description": "Identificação da sua integradora — use o **nome da sua empresa** (ex: `MinhaEmpresa/1.0`). Boa prática **obrigatória**: nos ajuda a identificar a origem das chamadas e a dar suporte. Evite o User-Agent genérico da biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`).",
            "schema": {
              "type": "string",
              "example": "MinhaEmpresa/1.0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    [
                      {
                        "CNPJ": "02695980000110",
                        "FANTASIA": "FARMÁCIA EXEMPLO",
                        "RAZAO_SOCIAL": "FARMÁCIA EXEMPLO LTDA",
                        "INSCRICAO": "000000000",
                        "ENDERECO": "RUA EXEMPLO",
                        "NUMERO": "100",
                        "BAIRRO": "CENTRO",
                        "CIDADE": "BELO HORIZONTE",
                        "ESTADO": "MG",
                        "TELEFONE": "31-0000 0000",
                        "EMAIL": "contato@farmacia.com.br"
                      }
                    ]
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/ListaCliente": {
      "post": {
        "operationId": "listaCliente",
        "summary": "ListaCliente",
        "description": "Busca clientes cadastrados na loja por CPF, nome, código interno ou telefone. Suporta paginação.",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "description": "Identificação da sua integradora — use o **nome da sua empresa** (ex: `MinhaEmpresa/1.0`). Boa prática **obrigatória**: nos ajuda a identificar a origem das chamadas e a dar suporte. Evite o User-Agent genérico da biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`).",
            "schema": {
              "type": "string",
              "example": "MinhaEmpresa/1.0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Parâmetros (`params`):**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `tipo_consulta` | string | Sim | `\"COD_INTERNO\"`, `\"NOME\"`, `\"CPF\"` ou `\"TELEFONE\"` |\n| `parametro` | string | Sim | Valor a ser pesquisado |\n| `pagina` | integer | Não | Página desejada |\n| `tamanho_pagina` | integer | Não | Registros por página |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "tipo_consulta": "NOME",
                    "parametro": "MARIA",
                    "pagina": 1,
                    "tamanho_pagina": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso\n\n### Campos da resposta\n\nA resposta é **aninhada duas vezes**: `result` é um array contendo um único elemento, que por sua vez é o array de clientes encontrados. Ou seja, os clientes estão em `result[0][]`.\n\n### Cada cliente em `result[0][]`\n\n| Campo | Tipo | Descrição |\n| --- | --- | --- |\n| `cliente_id` | string | ID interno do cliente no SADI. **Retornado como string**, mesmo sendo numérico. |\n| `cliente` | string | Nome do cliente conforme cadastrado (pode ter capitalização mista) |\n| `cli_cpf` | string | CPF sem formatação (11 dígitos). Vazio (`\"\"`) se não cadastrado. |\n| `telefone` | string | Telefone fixo. Vazio se não cadastrado. |\n| `celular` | string | Celular. Vazio se não cadastrado. |\n| `enderecos` | array | Endereços vinculados ao cliente — pode ter mais de um (ver estrutura abaixo) |\n\n### Cada item em `enderecos[]`\n\n| Campo | Tipo | Descrição |\n| --- | --- | --- |\n| `endereco` | string | Logradouro do endereço |\n| `bairro` | string | Bairro |\n| `cidade` | string | Cidade |\n| `uf` | string | Sigla do estado (2 letras) |\n| `numero` | string | Número do endereço. Frequentemente vem `\"0\"` em endereços de origem `CLIENTES` (legado). |\n| `complemento` | string | Complemento (apto, bloco, casa, etc.) |\n| `referencia` | string | Ponto de referência |\n| `cep` | string | CEP sem formatação. **Só aparece quando `origem = \"CLIENTES_ENDERECO\"`**. |\n| `origem` | string | Fonte do endereço — enum abaixo |\n\n### Enum de `origem` em `enderecos[]`\n\n| Valor | Descrição |\n| --- | --- |\n| `CLIENTES` | Endereço legado, gravado direto no cadastro básico do cliente. Sem CEP estruturado — `numero` pode vir `\"0\"`, dados podem estar concatenados dentro de `endereco`. |\n| `CLIENTES_ENDERECO` | Endereço da tabela de endereços múltiplos, mais estruturado — traz `cep` e campos separados corretamente. |\n\nUm cliente pode ter endereços das duas origens simultaneamente (o do cadastro básico + um ou mais da tabela de endereços). **Priorize `CLIENTES_ENDERECO`** quando disponível — os dados são mais confiáveis pra integração.",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    [
                      {
                        "cliente_id": "759",
                        "cliente": "MARIA EXEMPLO SILVA",
                        "cli_cpf": "12345678909",
                        "telefone": "3134742191",
                        "celular": "",
                        "enderecos": [
                          {
                            "endereco": "AV EXEMPLO 2004",
                            "bairro": "CENTRO",
                            "cidade": "BELO HORIZONTE",
                            "uf": "MG",
                            "numero": "0",
                            "complemento": "",
                            "referencia": "",
                            "origem": "CLIENTES"
                          }
                        ]
                      },
                      {
                        "cliente_id": "739",
                        "cliente": "MARIA MODELO SANTOS",
                        "cli_cpf": "",
                        "telefone": "",
                        "celular": "31988887777",
                        "enderecos": [
                          {
                            "endereco": "RUA EXEMPLO",
                            "bairro": "CENTRO",
                            "cidade": "BELO HORIZONTE",
                            "uf": "MG",
                            "numero": "220",
                            "complemento": "",
                            "referencia": "",
                            "origem": "CLIENTES"
                          },
                          {
                            "endereco": "RUA EXEMPLO",
                            "numero": "220",
                            "complemento": "APT 302",
                            "referencia": "",
                            "bairro": "CENTRO",
                            "cidade": "BELO HORIZONTE",
                            "cep": "30880000",
                            "uf": "MG",
                            "origem": "CLIENTES_ENDERECO"
                          }
                        ]
                      }
                    ]
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/ListaProduto": {
      "post": {
        "operationId": "listaProduto",
        "summary": "ListaProduto",
        "description": "Consulta o **catálogo de produtos** da loja. Suporta busca por código, EAN, nome ou data de atualização, com paginação, ordenação e filtro de saldo.\n\nA resposta **sempre inclui também os `kits`** cadastrados (com seus itens) — listar produtos já traz tudo. Se quiser **somente os kits**, envie `\"apenas_kits\": true`.",
        "tags": [
          "Produto"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "description": "Identificação da sua integradora — use o **nome da sua empresa** (ex: `MinhaEmpresa/1.0`). Boa prática **obrigatória**: nos ajuda a identificar a origem das chamadas e a dar suporte. Evite o User-Agent genérico da biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`).",
            "schema": {
              "type": "string",
              "example": "MinhaEmpresa/1.0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Parâmetros (`params`):**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `tipo_consulta` | string | Sim | `\"COD_INTERNO\"`, `\"EAN\"`, `\"NOME\"` ou `\"DATA\"` |\n| `parametro` | string | Não | Valor da busca. Para `DATA` use `\"yyyy-mm-dd hh:nn:ss\"` |\n| `pagina` | integer | Não | Página desejada |\n| `tamanho_pagina` | integer | Não | Registros por página |\n| `saldo_positivo` | boolean | Não | Se `true`, retorna apenas produtos com saldo > 0 |\n| `ordenar_por` | string | Não | `\"PRODUTO\"`, `\"COD_BARRAS\"`, `\"FABRICANTE\"`, `\"CATEGORIA\"`, `\"SALDO\"`, `\"PRECO_VENDA\"` ou `\"LASTUPDATE\"` |\n| `ordem` | string | Não | `\"ASC\"` ou `\"DESC\"` |\n| `apenas_kits` | boolean | Não | Se `true`, **não consulta produtos** e retorna **apenas os kits**. Na listagem normal os kits já vêm juntos — use isto só quando quiser exclusivamente os kits. Ver *Modo `apenas_kits`* abaixo. |\n| `integracao` | string | Não | **Legado / em desuso.** Filtra produtos vinculados a uma integração. Não afeta os kits. |\n| `apenas_integracao` | boolean | Não | **Legado / em desuso.** Se `true`, retorna apenas produtos com vínculo em integração ativa. |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "tipo_consulta": "EAN",
                    "parametro": "7896422507967",
                    "pagina": 1,
                    "tamanho_pagina": 10,
                    "saldo_positivo": false,
                    "ordenar_por": "PRODUTO",
                    "ordem": "ASC",
                    "apenas_kits": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso\n\n### Campos da resposta\n\nA resposta é sempre um objeto no formato `{ \"result\": [ { ... } ] }` — o array `result` sempre tem um único elemento com os campos abaixo.\n\n### Nível raiz — `result[0]`\n\n| Campo | Tipo | Descrição |\n| --- | --- | --- |\n| `total_registros` | integer | Total de **produtos** que casam com a busca, **ignorando a paginação**. Útil para calcular quantas páginas você precisa buscar. |\n| `produtos` | array | Produtos da página atual (tamanho ≤ `tamanho_pagina`) |\n| `total_kits` | integer | Total de **kits** cadastrados. **Sempre presente.** |\n| `kits` | array | Todos os kits do cadastro, com seus itens. **Sempre presente** na listagem de produtos (não é paginado). Ver estrutura abaixo. |\n\n### Cada item em `produtos[]`\n\n| Campo | Tipo | Descrição |\n| --- | --- | --- |\n| `produto_id` | integer | ID interno do produto no SADI |\n| `cod_barras` | string | EAN/código de barras. Vazio se não cadastrado. |\n| `produto` | string | Nome/descrição do produto |\n| `fabricante` | string | Fabricante ou laboratório |\n| `categoria` | string | Categoria comercial (ex: `GENERICOS`, `SIMILARES`, `ETICOS`, `PERFUMARIA`) |\n| `apresentacao` | string | Código de apresentação/embalagem no cadastro |\n| `cod_tributacao` | string | Código de tributação fiscal (ex: `F`, `T`, `I`) |\n| `localizacao` | string | Localização física do produto na loja (gôndola/prateleira). Vazio se não cadastrada. |\n| `localizacao_id` | integer \\| null | ID da localização, se houver |\n| `localizacao_descricao` | string \\| null | Descrição textual da localização |\n| `psicotropico` | string | `\"S\"` = psicotrópico, `\"N\"` = comum |\n| `antimicrobiano` | string | `\"S\"` = antimicrobiano, `\"N\"` = não |\n| `lista` | string | Classificação da lista de controle (ex: `A1`, `A2`, `A3`, `B1`, `B2`, `C1`). Vazio se não aplicável. |\n| `lastupdate` | string | Data/hora da última alteração no cadastro — formato `dd/mm/yyyy hh:mm:ss` |\n| `inicio_promocao` | string | Início da promoção — `dd/mm/yyyy`. Vazio se sem promoção. |\n| `termino_promocao` | string | Fim da promoção — `dd/mm/yyyy`. Vazio se sem promoção. |\n| `saldo` | number | Saldo atual em estoque |\n| `preco_venda` | number | Preço de venda normal (sem promoção) |\n| `preco_crediario` | number | Preço à prazo (crediário). `0` se não aplicável. |\n| `valor_venda` | number | Preço **efetivo** de venda considerando promoção ativa. Igual a `preco_venda` se não houver promoção. |\n| `padrao_comissao` | number | Percentual padrão de comissão do produto |\n| `valor_ult_compra` | number | Custo da última compra do produto (referência de custo) |\n| `leve_x_pague_y` | object \\| null | Promoção **leve X pague Y**, se aplicável. Ver estrutura abaixo. |\n| `desconto_escalonado` | array | Faixas de desconto por quantidade. Vazio se não aplicável. |\n\n### `leve_x_pague_y` (quando não é `null`)\n\n| Campo | Tipo | Descrição |\n| --- | --- | --- |\n| `leve` | integer | Quantidade que o cliente leva |\n| `pague` | integer | Quantidade que o cliente paga |\n| `tipo_preco` | string | `\"V\"` = base é o **preço de venda**; `\"P\"` = base é o **preço de promoção** |\n\n### Cada item em `desconto_escalonado[]`\n\n| Campo | Tipo | Descrição |\n| --- | --- | --- |\n| `quantidade` | integer | Quantidade mínima a partir da qual a faixa se aplica |\n| `valor` | number | Percentual de desconto (%) aplicado ao atingir a `quantidade` |\n\n### Cada item em `kits[]`\n\n| Campo | Tipo | Descrição |\n| --- | --- | --- |\n| `kit_id` | integer | ID interno do kit |\n| `kit_nome` | string | Nome/descrição do kit |\n| `kit_ativo` | string | `\"S\"` = ativo, `\"N\"` = inativo |\n| `kit_saldo` | number | Saldo do kit |\n| `lastupdate` | string \\| null | Data/hora da alteração mais recente entre os produtos do kit — `dd/mm/yyyy hh:mm:ss`. `null` se o kit não tiver itens ativos. |\n| `itens` | array | Produtos que compõem o kit. Ver estrutura abaixo. |\n\n### Cada item em `kits[].itens[]`\n\n| Campo | Tipo | Descrição |\n| --- | --- | --- |\n| `kit_item_id` | integer | ID do item dentro do kit |\n| `produto_id` | integer | ID interno do produto no SADI |\n| `produto` | string | Nome/descrição do produto |\n| `cod_barras` | string | EAN/código de barras do produto |\n| `quantidade` | number | Quantidade desse produto no kit |\n| `valor` | number | Valor do item praticado **dentro do kit** |\n| `valor_kit` | number | Igual a `valor` — preço do item no kit |\n| `valor_promo` | number | Preço de promoção do produto (`0` se não houver promoção vigente) |\n| `valor_base` | number | Preço de venda base do produto (fora do kit) |\n\n### Modo `apenas_kits`\n\nCom `\"apenas_kits\": true` a rota **não consulta produtos** e a raiz muda levemente: `produtos` vem vazio (`[]`) e o total de produtos aparece como `total_produtos` (sempre `0`) em vez de `total_registros`. Os arrays `kits` / `total_kits` seguem o **mesmo formato** descrito acima.",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    {
                      "total_registros": 1,
                      "produtos": [
                        {
                          "produto_id": 3906,
                          "cod_barras": "7896422507967",
                          "produto": "BUTILB ESCOP+DIP-G 20-MD",
                          "fabricante": "MEDLEY GENERICOS",
                          "categoria": "GENERICOS",
                          "apresentacao": "008455",
                          "cod_tributacao": "F",
                          "localizacao": "",
                          "localizacao_id": null,
                          "localizacao_descricao": null,
                          "psicotropico": "N",
                          "antimicrobiano": "N",
                          "lista": "",
                          "lastupdate": "22/07/2026 17:35:31",
                          "inicio_promocao": "01/01/2026",
                          "termino_promocao": "31/12/2027",
                          "saldo": 0,
                          "preco_venda": 6.59,
                          "preco_crediario": 0,
                          "valor_venda": 5,
                          "padrao_comissao": 0,
                          "valor_ult_compra": 4.83,
                          "leve_x_pague_y": {
                            "leve": 6,
                            "pague": 5,
                            "tipo_preco": "V"
                          },
                          "desconto_escalonado": [
                            {
                              "quantidade": 2,
                              "valor": 10
                            },
                            {
                              "quantidade": 3,
                              "valor": 9
                            }
                          ]
                        }
                      ],
                      "total_kits": 1,
                      "kits": [
                        {
                          "kit_id": 12,
                          "kit_nome": "KIT GRIPE",
                          "kit_ativo": "S",
                          "kit_saldo": 30,
                          "lastupdate": "10/08/2026 09:12:00",
                          "itens": [
                            {
                              "kit_item_id": 1,
                              "produto_id": 3906,
                              "produto": "BUTILB ESCOP+DIP-G 20-MD",
                              "cod_barras": "7896422507967",
                              "quantidade": 2,
                              "valor": 5.0,
                              "valor_kit": 5.0,
                              "valor_promo": 0,
                              "valor_base": 6.59
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/InserirPreVenda": {
      "post": {
        "operationId": "inserirPreVenda",
        "summary": "InserirPreVenda",
        "description": "Registra um **pedido de pré-venda** (ex: pedido delivery). A pré-venda fica pendente no PDV até ser processada pelo operador da farmácia.\n\nO `params` tem três chaves: `venda` (cabeçalho), `venda_item` (itens) e `delivery` (endereço).",
        "tags": [
          "Vendas"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "description": "Identificação da sua integradora — use o **nome da sua empresa** (ex: `MinhaEmpresa/1.0`). Boa prática **obrigatória**: nos ajuda a identificar a origem das chamadas e a dar suporte. Evite o User-Agent genérico da biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`).",
            "schema": {
              "type": "string",
              "example": "MinhaEmpresa/1.0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Estrutura de `params`:**\n\n| Chave | Tipo | Descrição |\n| --- | --- | --- |\n| `venda` | object | Cabeçalho da venda — totais, cliente e forma de pagamento. |\n| `venda_item` | array | Itens da venda — um objeto por produto. |\n| `pagamento` | array | Formas de pagamento utilizadas. |\n| `delivery` | object | Endereço de entrega. Pode ser omitido se não houver delivery. |\n\n**Campos de `venda`:**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `venda_total` | number | Sim | Valor total da venda |\n| `venda_recebido` | number | Sim | Valor recebido do cliente |\n| `cartao_atd` | string | Não | Número do cartão de atendimento |\n| `pedido` | string | Não | Número do pedido externo |\n| `v_id` | string | Sim | ID do vendedor ou origem |\n| `origem_venda` | string | Não | Identificador da origem (ex: `\"IFOOD\"`, `\"POSTMAN\"`) |\n| `cliente_id` | string | Não | ID do cliente (`\"0\"` = venda avulsa) |\n| `delivery_id` | string | Não | ID do endereço de delivery |\n| `cliente` | string | Não | Nome do cliente |\n| `comprador` | string | Não | Nome do comprador |\n| `fpagto` | string | Sim | Código da forma de pagamento (ex: `\"0\"` = dinheiro) |\n| `cpf_cliente` | string | Não | CPF do cliente (sem formatação) |\n| `token` | string | Não | Token único do pedido (idempotência) |\n| `frete` | number | Não | Valor do frete |\n| `troco` | number | Não | Valor do troco |\n| `obs` | string | Não | Observações do pedido |\n\n**Campos de `venda_item`:**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `p_id` | string | Sim | EAN/código de barras do produto |\n| `qtde` | number | Sim | Quantidade |\n| `prt` | number | Sim | Preço de tabela |\n| `prv` | number | Sim | Preço de venda |\n| `vv` | number | Sim | Valor total do item |\n| `desc` | number | Não | Valor de desconto |\n| `c_tr` | string | Não | Código de tributação (ex: `\"F\"`) |\n| `v_id` | string | Não | ID do vendedor |\n| `padrao_comissao` | number | Não | Percentual de comissão |\n\n**Campos de `pagamento`:**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `f` | string | Sim | Nome da forma (ex: `\"dinheiro\"`, `\"cartao\"`) |\n| `a` | string | Sim | Valor pago nesta forma |\n| `n` | string | Não | NSU / número da transação |\n| `i` | string | Não | Número de parcelas |\n| `b` | string | Não | Bandeira (ex: `\"visa\"`) |\n\n**Campos de `delivery`:**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `nom` | string | Sim | Nome do destinatário |\n| `end` | string | Sim | Logradouro |\n| `num` | string | Sim | Número |\n| `bai` | string | Sim | Bairro |\n| `cid` | string | Sim | Cidade |\n| `cep` | string | Sim | CEP (8 dígitos, sem formatação) |\n| `uf` | string | Sim | Estado (sigla de 2 letras) |\n| `com` | string | Não | Complemento |\n| `ref` | string | Não | Ponto de referência |\n| `tel` | string | Não | Telefone fixo |\n| `cel` | string | Não | Celular |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "venda": {
                      "venda_total": 77.59,
                      "venda_recebido": 77.59,
                      "cartao_atd": "1833197",
                      "pedido": "",
                      "v_id": "1",
                      "origem_venda": "POSTMAN",
                      "cliente_id": "0",
                      "delivery_id": "0",
                      "cliente": "Cliente Exemplo",
                      "comprador": "Cliente Exemplo",
                      "fpagto": "0",
                      "cpf_cliente": "12345678909",
                      "token": "identificador-unico-do-pedido",
                      "frete": 0,
                      "troco": 0,
                      "obs": ""
                    },
                    "venda_item": [
                      {
                        "p_id": "7891800662122",
                        "qtde": 2,
                        "prt": 33.8,
                        "prv": 33.8,
                        "vv": 33.8,
                        "desc": 0,
                        "c_tr": "F",
                        "v_id": "1",
                        "padrao_comissao": 0
                      }
                    ],
                    "pagamento": [
                      {
                        "f": "dinheiro",
                        "a": "77.59",
                        "n": "",
                        "i": "1",
                        "b": ""
                      }
                    ],
                    "delivery": {
                      "tel": "",
                      "cel": "",
                      "nom": "Cliente Exemplo",
                      "end": "Rua Exemplo",
                      "num": "100",
                      "com": "Casa",
                      "ref": "",
                      "bai": "Centro",
                      "cid": "Belo Horizonte",
                      "cep": "30000000",
                      "uf": "MG"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    {
                      "success": true,
                      "venda_id": 45678,
                      "msg": "Pré-venda criada"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/CancelarPreVenda": {
      "post": {
        "operationId": "cancelarPreVenda",
        "summary": "CancelarPreVenda",
        "description": "Cancela uma **pré-venda** previamente registrada via `InserirPreVenda`. O cancelamento é **lógico** — não devolve saldo de estoque, não mexe em NFC-e nem em valores de pagamento. É idempotente: chamar novamente sobre uma venda já cancelada não gera erro.",
        "tags": [
          "Utilitários"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "description": "Identificação da sua integradora — use o **nome da sua empresa** (ex: `MinhaEmpresa/1.0`). Boa prática **obrigatória**: nos ajuda a identificar a origem das chamadas e a dar suporte. Evite o User-Agent genérico da biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`).",
            "schema": {
              "type": "string",
              "example": "MinhaEmpresa/1.0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Parâmetros (`params`):**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `id_venda` | integer | Sim | ID da venda a cancelar (deve ser > 0) |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "id_venda": 12345
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    {
                      "success": true,
                      "id_venda": 12345,
                      "cancelado": "S"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/InserirNotaFiscal": {
      "post": {
        "operationId": "inserirNotaFiscal",
        "summary": "InserirNotaFiscal",
        "description": "Grava uma **nota fiscal de saída** para pedidos de e-commerce.\n\n- Registra cabeçalho, itens e formas de pagamento da nota.\n- Baixa o **estoque** dos produtos vendidos.\n- Cria (ou reusa) automaticamente o cadastro do destinatário a partir do CPF/CNPJ.\n\nEsta rota **não emite** NFC-e/NF-e via SEFAZ — apenas grava a nota no Sadi. A emissão fiscal é responsabilidade de outro módulo que consome a nota gravada.\n\n**Idempotência:** se `pedido` vier preenchido e já existir uma nota de saída com esse número de pedido, a rota retorna o `nota_id` existente em vez de duplicar.",
        "tags": [
          "Utilitários"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "description": "Identificação da sua integradora — use o **nome da sua empresa** (ex: `MinhaEmpresa/1.0`). Boa prática **obrigatória**: nos ajuda a identificar a origem das chamadas e a dar suporte. Evite o User-Agent genérico da biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`).",
            "schema": {
              "type": "string",
              "example": "MinhaEmpresa/1.0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Estrutura de `params`:**\n\n| Chave | Tipo | Descrição |\n| --- | --- | --- |\n| `venda` | object | Cabeçalho da nota — totais, número do pedido, origem. |\n| `destinatario` | object | Dados fiscais e endereço do destinatário da NF. Traz os campos que a SEFAZ exige. |\n| `venda_item` | array | Itens da nota — um objeto por produto. |\n| `pagamento` | array | Formas de pagamento (opcional). |\n\n**Campos de `venda`:**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `venda_total` | number | Sim | Valor total da nota |\n| `pedido` | string | Não | Número do pedido externo (usado para idempotência) |\n| `origem_venda` | string | Não | Identificador da origem (ex: `\"ECOMMERCE\"`). Cria/reusa automaticamente o cadastro dessa origem. |\n| `v_id` | string | Não | Vendedor responsável pela nota — aceita **ID (numérico)** ou **código/nome**. Se não for numérico, o Sadi resolve pra ID via cadastro (mesma regra do `InserirPreVenda`). Padrão `0`. |\n| `cfop` | string | Não | CFOP da nota (ex: `\"5102\"` intra, `\"6108\"` inter, consumidor final). Se ausente, o módulo de emissão preenche. Pode ser sobrescrito por item. |\n| `frete` | number | Não | Valor do frete |\n| `venda_desconto` | number | Não | Desconto aplicado |\n\n**Campos de `destinatario`:**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `cpf_cnpj` | string | Sim | CPF (11 dígitos) ou CNPJ (14 dígitos), só números. |\n| `nome` | string | Sim | Nome do destinatário (PF) ou razão social (PJ). |\n| `ie` | string | Cond. | Inscrição Estadual. **Obrigatória para CNPJ** — se ausente, a nota é rejeitada. Para **CPF**, se omitida o Sadi grava `ISENTO` automaticamente. PJ isento pode enviar `\"ISENTO\"` explicitamente. |\n| `email` | string | Não | E-mail para envio da DANFE. |\n| `end` | string | Sim | Logradouro |\n| `num` | string | Sim | Número |\n| `com` | string | Não | Complemento |\n| `bai` | string | Sim | Bairro |\n| `cid` | string | Sim | Cidade |\n| `cep` | string | Sim | CEP (só dígitos) |\n| `uf` | string | Sim | Estado (sigla) |\n| `tel` | string | Não | Telefone fixo |\n| `cel` | string | Não | Celular |\n\n**Campos de `venda_item`:**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `p_id` | string | Sim | EAN ou PRODUTO_ID |\n| `qtde` | number | Sim | Quantidade |\n| `prv` | number | Sim | Preço de venda unitário |\n| `desc` | number | Não | Desconto do item |\n| `cfop` | string | Não | CFOP específico do item (sobrescreve `venda.cfop`). Útil quando o item tem ST diferente. |\n\n**Campos de `pagamento`:**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `f` | string | Sim | Nome da forma (ex: `\"dinheiro\"`, `\"cartao\"`, `\"pix\"`, `\"boleto\"`). Qualquer variante de cartão mapeia para Cartão; forma não reconhecida cai em Dinheiro. |\n| `a` | string | Sim | Valor pago nesta forma |\n| `n` | string | Não | NSU / número da transação |\n| `i` | string | Não | Número de parcelas |\n| `b` | string | Não | Bandeira (ex: `\"visa credito\"`) |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "venda": {
                      "venda_total": 77.59,
                      "pedido": "ECOM-12345",
                      "origem_venda": "ECOMMERCE",
                      "v_id": "1",
                      "cfop": "5102",
                      "frete": 0,
                      "venda_desconto": 0
                    },
                    "destinatario": {
                      "cpf_cnpj": "11658675673",
                      "nome": "Tamer Sammour",
                      "ie": "ISENTO",
                      "email": "tamer@exemplo.com",
                      "end": "R. Cândido Neiva",
                      "num": "59",
                      "com": "Casa De Pedra",
                      "bai": "Centro",
                      "cid": "PARACATU",
                      "cep": "38600000",
                      "uf": "MG",
                      "cel": "38999999999"
                    },
                    "venda_item": [
                      {
                        "p_id": "7891800662122",
                        "qtde": 2,
                        "prv": 33.8,
                        "desc": 0
                      },
                      {
                        "p_id": "7899547500363",
                        "qtde": 1,
                        "prv": 9.99,
                        "desc": 0
                      }
                    ],
                    "pagamento": [
                      {
                        "f": "cartao",
                        "a": "77.59",
                        "n": "123456",
                        "i": "1",
                        "b": "visa credito"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    {
                      "success": true,
                      "id_nota": 45678,
                      "numero_nota_fiscal": "12345",
                      "id_destinatario": 1234,
                      "numero_pedido": "ECOM-12345"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/CancelarNotaFiscal": {
      "post": {
        "operationId": "cancelarNotaFiscal",
        "summary": "CancelarNotaFiscal",
        "description": "Cancela uma **nota fiscal** previamente registrada via `InserirNotaFiscal`. Marca a nota como cancelada e **devolve o estoque** dos itens (operação simétrica à baixa feita na inserção).\n\nSe a nota já foi transmitida à SEFAZ, esta rota **não** faz o cancelamento fiscal — apenas o cancelamento lógico no PDV. O cancelamento fiscal é responsabilidade do módulo de emissão.",
        "tags": [
          "Utilitários"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "description": "Identificação da sua integradora — use o **nome da sua empresa** (ex: `MinhaEmpresa/1.0`). Boa prática **obrigatória**: nos ajuda a identificar a origem das chamadas e a dar suporte. Evite o User-Agent genérico da biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`).",
            "schema": {
              "type": "string",
              "example": "MinhaEmpresa/1.0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Parâmetros (`params`):**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `id_nota` | integer | Sim | ID da nota a cancelar (deve ser > 0). Retornado por `InserirNotaFiscal` em `id_nota`. |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "id_nota": 45678
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    {
                      "success": true,
                      "id_nota": 45678,
                      "cancelado": "S"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/ListaVendas": {
      "post": {
        "operationId": "listaVendas",
        "summary": "ListaVendas",
        "description": "Lista vendas com seus itens e pagamentos. Suporta **três modos de consulta** — escolha via `tipo_consulta`. Ideal para sincronizações incrementais usando o modo `ALTERACAO`.",
        "tags": [
          "Vendas"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "description": "Identificação da sua integradora — use o **nome da sua empresa** (ex: `MinhaEmpresa/1.0`). Boa prática **obrigatória**: nos ajuda a identificar a origem das chamadas e a dar suporte. Evite o User-Agent genérico da biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`).",
            "schema": {
              "type": "string",
              "example": "MinhaEmpresa/1.0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Parâmetros (`params`):**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `tipo_consulta` | string | Sim | `\"DATA\"`, `\"CODIGO\"` ou `\"ALTERACAO\"` |\n| `data_inicio` | string | Condicional | Formato `yyyy-mm-dd`. Obrigatório se `tipo_consulta = \"DATA\"` |\n| `data_fim` | string | Condicional | Formato `yyyy-mm-dd`. Obrigatório se `tipo_consulta = \"DATA\"` |\n| `venda_id` | string | Condicional | ID da venda. Obrigatório se `tipo_consulta = \"CODIGO\"` |\n| `data_hora_alteracao` | string | Condicional | Formato `yyyy-mm-dd hh:nn:ss`. Obrigatório se `tipo_consulta = \"ALTERACAO\"` |\n| `origem_venda` | string | Não | Filtra por origem (ex: `\"IFOOD\"`). Opcional em qualquer modo |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "tipo_consulta": "DATA",
                    "data_inicio": "2025-10-01",
                    "data_fim": "2025-10-09",
                    "origem_venda": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": [
                  {
                    "venda_id": 12457,
                    "cnpj": "02695980000110",
                    "data_venda": "2025-09-28 14:32:00.0000",
                    "valor_total": 253.9,
                    "cliente": "JOÃO SILVA",
                    "status": "VENDA_CONCLUIDA",
                    "descricao": "Venda concluída",
                    "nfce_chave": "31250902695980000110650010000001231000012310",
                    "itens": [
                      {
                        "produto_id": 4855,
                        "produto": "DIPIRONA 500MG"
                      }
                    ],
                    "pagamentos": [
                      {
                        "tipo_pagamento": "Cartão de Débito"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/GetStatusVenda": {
      "post": {
        "operationId": "getStatusVenda",
        "summary": "GetStatusVenda",
        "description": "Retorna o **status atual** de uma venda pelo seu ID interno.",
        "tags": [
          "Vendas"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "description": "Identificação da sua integradora — use o **nome da sua empresa** (ex: `MinhaEmpresa/1.0`). Boa prática **obrigatória**: nos ajuda a identificar a origem das chamadas e a dar suporte. Evite o User-Agent genérico da biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`).",
            "schema": {
              "type": "string",
              "example": "MinhaEmpresa/1.0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Parâmetros (`params`):**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `venda_id` | integer | Sim | ID interno da venda |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "venda_id": 12457
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "venda_id": 12457,
                  "data_venda": "2025-09-28 14:32:00.0000",
                  "valor_total": 253.9,
                  "status": "PEDIDO_ENTREGUE",
                  "descricao": "Pedido entregue"
                }
              }
            }
          }
        }
      }
    },
    "/Ping": {
      "post": {
        "operationId": "ping",
        "summary": "Ping",
        "description": "Verifica se a API está **online e respondendo**. Útil como heartbeat.",
        "tags": [
          "Utilitários"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "description": "Identificação da sua integradora — use o **nome da sua empresa** (ex: `MinhaEmpresa/1.0`). Boa prática **obrigatória**: nos ajuda a identificar a origem das chamadas e a dar suporte. Evite o User-Agent genérico da biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`).",
            "schema": {
              "type": "string",
              "example": "MinhaEmpresa/1.0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    "ok"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/SetSenha": {
      "post": {
        "operationId": "setSenha",
        "summary": "SetSenha",
        "description": "Define uma **senha alfanumérica** vinculada ao CNPJ de uma loja. Recurso **opt-in**, criado a pedido de parceiro que preferia trafegar a própria senha como reforço adicional em cada requisição.\n\n**Como funciona:**\n\n- Se, numa chamada da API, a integradora **enviar** o header `x-digifarma-senha` → a API valida contra a senha definida. Se bater, aprova; se não bater, rejeita.\n- Se **não enviar** o header → a API ignora essa camada e segue com a autenticação padrão (`x-digifarma-user` + `x-digifarma-token`) normalmente.\n\nOu seja: mesmo depois de definir a senha, você continua livre para chamar as rotas sem o header. A senha só é conferida quando o header aparece — é **decisão da integradora**, chamada a chamada.\n\n**Body enviado como form-data direto** (sem o campo `json` — diferente das demais rotas).",
        "tags": [
          "Utilitários"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "description": "Identificação da sua integradora — use o **nome da sua empresa** (ex: `MinhaEmpresa/1.0`). Boa prática **obrigatória**: nos ajuda a identificar a origem das chamadas e a dar suporte. Evite o User-Agent genérico da biblioteca HTTP (ex: `PostmanRuntime`, `python-requests`).",
            "schema": {
              "type": "string",
              "example": "MinhaEmpresa/1.0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "description": "CNPJ da loja para a qual a senha será definida"
                  },
                  "senha": {
                    "type": "string",
                    "description": "Senha alfanumérica a ser vinculada ao CNPJ"
                  }
                },
                "required": [
                  "cnpj",
                  "senha"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true
                }
              }
            }
          }
        }
      }
    }
  }
}
