{
  "openapi": "3.1.0",
  "info": {
    "title": "API SADI",
    "version": "1.0.0",
    "description": "API REST do sistema SADI (Digifarma) para integração de parceiros. Consulta de produtos, clientes e vendas, além de registro de pedidos e pré-vendas.\n\n## Pré-requisitos\n\nAntes de conseguir chamar qualquer rota, sua integradora precisa de **duas coisas emitidas pela Digifarma**:\n\n1. **Usuário de integração** — o valor do header `x-digifarma-user` só é válido se emitido pela Digifarma. Não existe auto-cadastro.\n2. **Liberação dos CNPJs das lojas** — cada CNPJ de farmácia que você pretende consultar precisa estar liberado para o seu usuário na base da Digifarma.\n\nSolicite ambos via **filipe@digifarma.com.br** informando o nome da integradora, contato técnico e a lista de CNPJs a atender.",
    "contact": {
      "name": "Digifarma",
      "url": "https://digifarma.com.br"
    }
  },
  "servers": [
    {
      "url": "https://sadi.digifarma.com.br/api",
      "description": "Produção"
    }
  ],
  "tags": [
    {
      "name": "Autenticação"
    },
    {
      "name": "Loja"
    },
    {
      "name": "Cliente"
    },
    {
      "name": "Produto"
    },
    {
      "name": "Vendas"
    },
    {
      "name": "Utilitários"
    }
  ],
  "paths": {
    "/GetToken": {
      "post": {
        "operationId": "getToken",
        "summary": "GetToken - Autenticação",
        "description": "Gera um **token de acesso** para a integradora. Este token deve ser enviado no header `x-digifarma-token` em todas as demais requisições da API.\n\nO token tem validade limitada. Renove chamando este endpoint novamente quando expirar.\n\n**Pré-requisitos:**\n\n- O `x-digifarma-user` precisa ter sido **emitido pela Digifarma** — não há auto-cadastro. Solicite via filipe@digifarma.com.br.\n- O `cnpj` informado precisa estar **liberado para o seu usuário** na base da Digifarma. Envie a lista de CNPJs que sua integradora atenderá junto do pedido do usuário.",
        "tags": [
          "Autenticação"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "description": "CNPJ da integradora (somente dígitos, sem formatação)"
                  }
                },
                "required": [
                  "cnpj"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "token": "seu-token-aqui"
                }
              }
            }
          }
        }
      }
    },
    "/GetDadosLoja": {
      "post": {
        "operationId": "getDadosLoja",
        "summary": "GetDadosLoja",
        "description": "Retorna os **dados fiscais e cadastrais** da loja vinculada ao CNPJ informado. Utilizado tipicamente para exibir cabeçalho da loja em telas de integração.",
        "tags": [
          "Loja"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    [
                      {
                        "CNPJ": "02695980000110",
                        "FANTASIA": "FARMÁCIA EXEMPLO",
                        "RAZAO_SOCIAL": "FARMÁCIA EXEMPLO LTDA",
                        "INSCRICAO": "000000000",
                        "ENDERECO": "RUA EXEMPLO",
                        "NUMERO": "100",
                        "BAIRRO": "CENTRO",
                        "CIDADE": "BELO HORIZONTE",
                        "ESTADO": "MG",
                        "TELEFONE": "31-0000 0000",
                        "EMAIL": "contato@farmacia.com.br"
                      }
                    ]
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/ListaCliente": {
      "post": {
        "operationId": "listaCliente",
        "summary": "ListaCliente",
        "description": "Busca clientes cadastrados na loja por CPF, nome, código interno ou telefone. Suporta paginação.",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Parâmetros (`params`):**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `tipo_consulta` | string | Sim | `\"COD_INTERNO\"`, `\"NOME\"`, `\"CPF\"` ou `\"TELEFONE\"` |\n| `parametro` | string | Sim | Valor a ser pesquisado |\n| `pagina` | integer | Não | Página desejada |\n| `tamanho_pagina` | integer | Não | Registros por página |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "tipo_consulta": "CPF",
                    "parametro": "12345678909",
                    "pagina": 1,
                    "tamanho_pagina": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    {
                      "total_registros": 1,
                      "clientes": [
                        {
                          "cliente_id": 4521,
                          "cliente": "JOÃO DA SILVA",
                          "cli_cpf": "12345678909",
                          "cli_celular": "31999998888",
                          "cli_email": "joao@exemplo.com",
                          "cli_bloqueado": "FALSE"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/ListaProduto": {
      "post": {
        "operationId": "listaProduto",
        "summary": "ListaProduto",
        "description": "Consulta o **catálogo de produtos** da loja. Suporta busca por código, EAN, nome ou data de atualização, com paginação, ordenação e filtros de saldo e integração.",
        "tags": [
          "Produto"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Parâmetros (`params`):**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `tipo_consulta` | string | Sim | `\"COD_INTERNO\"`, `\"EAN\"`, `\"NOME\"` ou `\"DATA\"` |\n| `parametro` | string | Não | Valor da busca. Para `DATA` use `\"yyyy-mm-dd hh:nn:ss\"` |\n| `pagina` | integer | Não | Página desejada |\n| `tamanho_pagina` | integer | Não | Registros por página |\n| `saldo_positivo` | boolean | Não | Se `true`, retorna apenas produtos com saldo > 0 |\n| `ordenar_por` | string | Não | `\"PRODUTO\"`, `\"COD_BARRAS\"`, `\"FABRICANTE\"`, `\"CATEGORIA\"`, `\"SALDO\"`, `\"PRECO_VENDA\"` ou `\"LASTUPDATE\"` |\n| `ordem` | string | Não | `\"ASC\"` ou `\"DESC\"` |\n| `integracao` | string | Não | Filtra produtos vinculados a uma integração (ex: `\"DIGIFARMA\"`) |\n| `apenas_integracao` | boolean | Não | Se `true`, retorna apenas produtos com vínculo em qualquer integração ativa |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "tipo_consulta": "EAN",
                    "parametro": "7896422507967",
                    "pagina": 1,
                    "tamanho_pagina": 10,
                    "saldo_positivo": false,
                    "ordenar_por": "PRODUTO",
                    "ordem": "ASC",
                    "integracao": "",
                    "apenas_integracao": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso\n\n### Campos da resposta\n\nA resposta é sempre um objeto no formato `{ \"result\": [ { ... } ] }` — o array `result` sempre tem um único elemento com os campos abaixo.\n\n### Nível raiz — `result[0]`\n\n| Campo | Tipo | Descrição |\n| --- | --- | --- |\n| `total_registros` | integer | Total de registros que casam com a busca, **ignorando a paginação**. Útil para calcular quantas páginas você precisa buscar. |\n| `produtos` | array | Produtos da página atual (tamanho ≤ `tamanho_pagina`) |\n\n### Cada item em `produtos[]`\n\n| Campo | Tipo | Descrição |\n| --- | --- | --- |\n| `produto_id` | integer | ID interno do produto no SADI |\n| `cod_barras` | string | EAN/código de barras. Vazio se não cadastrado. |\n| `produto` | string | Nome/descrição do produto |\n| `fabricante` | string | Fabricante ou laboratório |\n| `categoria` | string | Categoria comercial (ex: `GENERICOS`, `SIMILARES`, `ETICOS`, `PERFUMARIA`) |\n| `apresentacao` | string | Código de apresentação/embalagem no cadastro |\n| `cod_tributacao` | string | Código de tributação fiscal (ex: `F`, `T`, `I`) |\n| `localizacao` | string | Localização física do produto na loja (gôndola/prateleira). Vazio se não cadastrada. |\n| `localizacao_id` | integer \\| null | ID da localização, se houver |\n| `localizacao_descricao` | string \\| null | Descrição textual da localização |\n| `psicotropico` | string | `\"S\"` = psicotrópico, `\"N\"` = comum |\n| `antimicrobiano` | string | `\"S\"` = antimicrobiano, `\"N\"` = não |\n| `lista` | string | Classificação da lista de controle (ex: `A1`, `A2`, `A3`, `B1`, `B2`, `C1`). Vazio se não aplicável. |\n| `lastupdate` | string | Data/hora da última alteração no cadastro — formato `dd/mm/yyyy hh:mm:ss` |\n| `inicio_promocao` | string | Início da promoção — `dd/mm/yyyy`. Vazio se sem promoção. |\n| `termino_promocao` | string | Fim da promoção — `dd/mm/yyyy`. Vazio se sem promoção. |\n| `saldo` | number | Saldo atual em estoque |\n| `preco_venda` | number | Preço de venda normal (sem promoção) |\n| `preco_crediario` | number | Preço à prazo (crediário). `0` se não aplicável. |\n| `valor_venda` | number | Preço **efetivo** de venda considerando promoção ativa. Igual a `preco_venda` se não houver promoção. |\n| `padrao_comissao` | number | Percentual padrão de comissão do produto |\n| `valor_ult_compra` | number | Custo da última compra do produto (referência de custo) |\n| `leve_x_pague_y` | object \\| null | Promoção **leve X pague Y**, se aplicável. Ver estrutura abaixo. |\n| `desconto_escalonado` | array | Faixas de desconto por quantidade. Vazio se não aplicável. |\n\n### `leve_x_pague_y` (quando não é `null`)\n\n| Campo | Tipo | Descrição |\n| --- | --- | --- |\n| `leve` | integer | Quantidade que o cliente leva |\n| `pague` | integer | Quantidade que o cliente paga |\n| `tipo_preco` | string | `\"V\"` = base é o **preço de venda**; `\"P\"` = base é o **preço de promoção** |\n\n### Cada item em `desconto_escalonado[]`\n\n| Campo | Tipo | Descrição |\n| --- | --- | --- |\n| `quantidade` | integer | Quantidade mínima a partir da qual a faixa se aplica |\n| `valor` | number | Percentual de desconto (%) aplicado ao atingir a `quantidade` |",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    {
                      "total_registros": 1,
                      "produtos": [
                        {
                          "produto_id": 3906,
                          "cod_barras": "7896422507967",
                          "produto": "BUTILB ESCOP+DIP-G 20-MD",
                          "fabricante": "MEDLEY GENERICOS",
                          "categoria": "GENERICOS",
                          "apresentacao": "008455",
                          "cod_tributacao": "F",
                          "localizacao": "",
                          "localizacao_id": null,
                          "localizacao_descricao": null,
                          "psicotropico": "N",
                          "antimicrobiano": "N",
                          "lista": "",
                          "lastupdate": "22/07/2026 17:35:31",
                          "inicio_promocao": "01/01/2026",
                          "termino_promocao": "31/12/2027",
                          "saldo": 0,
                          "preco_venda": 6.59,
                          "preco_crediario": 0,
                          "valor_venda": 5,
                          "padrao_comissao": 0,
                          "valor_ult_compra": 4.83,
                          "leve_x_pague_y": {
                            "leve": 6,
                            "pague": 5,
                            "tipo_preco": "V"
                          },
                          "desconto_escalonado": [
                            {
                              "quantidade": 2,
                              "valor": 10
                            },
                            {
                              "quantidade": 3,
                              "valor": 9
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/InserirPreVenda": {
      "post": {
        "operationId": "inserirPreVenda",
        "summary": "InserirPreVenda",
        "description": "Registra um **pedido de pré-venda** (ex: pedido delivery). A pré-venda fica pendente no PDV até ser processada pelo operador da farmácia.\n\nO `params` tem três chaves: `venda` (cabeçalho), `venda_item` (itens) e `delivery` (endereço).",
        "tags": [
          "Vendas"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Estrutura de `params`:**\n\n| Chave | Tipo | Descrição |\n| --- | --- | --- |\n| `venda` | object | Cabeçalho da venda — totais, cliente e forma de pagamento. |\n| `venda_item` | array | Itens da venda — um objeto por produto. |\n| `pagamento` | array | Formas de pagamento utilizadas. |\n| `delivery` | object | Endereço de entrega. Pode ser omitido se não houver delivery. |\n\n**Campos de `venda`:**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `venda_total` | number | Sim | Valor total da venda |\n| `venda_recebido` | number | Sim | Valor recebido do cliente |\n| `cartao_atd` | string | Não | Número do cartão de atendimento |\n| `pedido` | string | Não | Número do pedido externo |\n| `v_id` | string | Sim | ID do vendedor ou origem |\n| `origem_venda` | string | Não | Identificador da origem (ex: `\"IFOOD\"`, `\"POSTMAN\"`) |\n| `cliente_id` | string | Não | ID do cliente (`\"0\"` = venda avulsa) |\n| `delivery_id` | string | Não | ID do endereço de delivery |\n| `cliente` | string | Não | Nome do cliente |\n| `comprador` | string | Não | Nome do comprador |\n| `fpagto` | string | Sim | Código da forma de pagamento (ex: `\"0\"` = dinheiro) |\n| `cpf_cliente` | string | Não | CPF do cliente (sem formatação) |\n| `token` | string | Não | Token único do pedido (idempotência) |\n| `frete` | number | Não | Valor do frete |\n| `troco` | number | Não | Valor do troco |\n| `obs` | string | Não | Observações do pedido |\n\n**Campos de `venda_item`:**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `p_id` | string | Sim | EAN/código de barras do produto |\n| `qtde` | number | Sim | Quantidade |\n| `prt` | number | Sim | Preço de tabela |\n| `prv` | number | Sim | Preço de venda |\n| `vv` | number | Sim | Valor total do item |\n| `desc` | number | Não | Valor de desconto |\n| `c_tr` | string | Não | Código de tributação (ex: `\"F\"`) |\n| `v_id` | string | Não | ID do vendedor |\n| `padrao_comissao` | number | Não | Percentual de comissão |\n\n**Campos de `pagamento`:**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `f` | string | Sim | Nome da forma (ex: `\"dinheiro\"`, `\"cartao\"`) |\n| `a` | string | Sim | Valor pago nesta forma |\n| `n` | string | Não | NSU / número da transação |\n| `i` | string | Não | Número de parcelas |\n| `b` | string | Não | Bandeira (ex: `\"visa\"`) |\n\n**Campos de `delivery`:**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `nom` | string | Sim | Nome do destinatário |\n| `end` | string | Sim | Logradouro |\n| `num` | string | Sim | Número |\n| `bai` | string | Sim | Bairro |\n| `cid` | string | Sim | Cidade |\n| `cep` | string | Sim | CEP (8 dígitos, sem formatação) |\n| `uf` | string | Sim | Estado (sigla de 2 letras) |\n| `com` | string | Não | Complemento |\n| `ref` | string | Não | Ponto de referência |\n| `tel` | string | Não | Telefone fixo |\n| `cel` | string | Não | Celular |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "venda": {
                      "venda_total": 77.59,
                      "venda_recebido": 77.59,
                      "cartao_atd": "1833197",
                      "pedido": "",
                      "v_id": "1",
                      "origem_venda": "POSTMAN",
                      "cliente_id": "0",
                      "delivery_id": "0",
                      "cliente": "Cliente Exemplo",
                      "comprador": "Cliente Exemplo",
                      "fpagto": "0",
                      "cpf_cliente": "12345678909",
                      "token": "identificador-unico-do-pedido",
                      "frete": 0,
                      "troco": 0,
                      "obs": ""
                    },
                    "venda_item": [
                      {
                        "p_id": "7891800662122",
                        "qtde": 2,
                        "prt": 33.8,
                        "prv": 33.8,
                        "vv": 33.8,
                        "desc": 0,
                        "c_tr": "F",
                        "v_id": "1",
                        "padrao_comissao": 0
                      }
                    ],
                    "pagamento": [
                      {
                        "f": "dinheiro",
                        "a": "77.59",
                        "n": "",
                        "i": "1",
                        "b": ""
                      }
                    ],
                    "delivery": {
                      "tel": "",
                      "cel": "",
                      "nom": "Cliente Exemplo",
                      "end": "Rua Exemplo",
                      "num": "100",
                      "com": "Casa",
                      "ref": "",
                      "bai": "Centro",
                      "cid": "Belo Horizonte",
                      "cep": "30000000",
                      "uf": "MG"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    {
                      "success": true,
                      "venda_id": 45678,
                      "msg": "Pré-venda criada"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/ListaVendas": {
      "post": {
        "operationId": "listaVendas",
        "summary": "ListaVendas",
        "description": "Lista vendas com seus itens e pagamentos. Suporta **três modos de consulta** — escolha via `tipo_consulta`. Ideal para sincronizações incrementais usando o modo `ALTERACAO`.",
        "tags": [
          "Vendas"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Parâmetros (`params`):**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `tipo_consulta` | string | Sim | `\"DATA\"`, `\"CODIGO\"` ou `\"ALTERACAO\"` |\n| `data_inicio` | string | Condicional | Formato `yyyy-mm-dd`. Obrigatório se `tipo_consulta = \"DATA\"` |\n| `data_fim` | string | Condicional | Formato `yyyy-mm-dd`. Obrigatório se `tipo_consulta = \"DATA\"` |\n| `venda_id` | string | Condicional | ID da venda. Obrigatório se `tipo_consulta = \"CODIGO\"` |\n| `data_hora_alteracao` | string | Condicional | Formato `yyyy-mm-dd hh:nn:ss`. Obrigatório se `tipo_consulta = \"ALTERACAO\"` |\n| `origem_venda` | string | Não | Filtra por origem (ex: `\"IFOOD\"`). Opcional em qualquer modo |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "tipo_consulta": "DATA",
                    "data_inicio": "2025-10-01",
                    "data_fim": "2025-10-09",
                    "origem_venda": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": [
                  {
                    "venda_id": 12457,
                    "cnpj": "02695980000110",
                    "data_venda": "2025-09-28 14:32:00.0000",
                    "valor_total": 253.9,
                    "cliente": "JOÃO SILVA",
                    "status": "VENDA_CONCLUIDA",
                    "descricao": "Venda concluída",
                    "nfce_chave": "31250902695980000110650010000001231000012310",
                    "itens": [
                      {
                        "produto_id": 4855,
                        "produto": "DIPIRONA 500MG"
                      }
                    ],
                    "pagamentos": [
                      {
                        "tipo_pagamento": "Cartão de Débito"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/GetStatusVenda": {
      "post": {
        "operationId": "getStatusVenda",
        "summary": "GetStatusVenda",
        "description": "Retorna o **status atual** de uma venda pelo seu ID interno.",
        "tags": [
          "Vendas"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n**Parâmetros (`params`):**\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `venda_id` | integer | Sim | ID interno da venda |"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": {
                    "venda_id": 12457
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "venda_id": 12457,
                  "data_venda": "2025-09-28 14:32:00.0000",
                  "valor_total": 253.9,
                  "status": "PEDIDO_ENTREGUE",
                  "descricao": "Pedido entregue"
                }
              }
            }
          }
        }
      }
    },
    "/Ping": {
      "post": {
        "operationId": "ping",
        "summary": "Ping",
        "description": "Verifica se a API está **online e respondendo**. Útil como heartbeat.",
        "tags": [
          "Utilitários"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json"
                ],
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "Payload JSON com `cnpj` e `params`. Enviado como um campo `json` dentro do `form-data`.\n\n"
                  }
                }
              },
              "encoding": {
                "json": {
                  "contentType": "application/json"
                }
              },
              "example": {
                "json": {
                  "cnpj": "02695980000110",
                  "params": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "result": [
                    "ok"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/SetSenha": {
      "post": {
        "operationId": "setSenha",
        "summary": "SetSenha",
        "description": "Define uma **senha alfanumérica** vinculada ao CNPJ de uma loja. Recurso **opt-in**, criado a pedido de parceiro que preferia trafegar a própria senha como reforço adicional em cada requisição.\n\n**Como funciona:**\n\n- Se, numa chamada da API, a integradora **enviar** o header `x-digifarma-senha` → a API valida contra a senha definida. Se bater, aprova; se não bater, rejeita.\n- Se **não enviar** o header → a API ignora essa camada e segue com a autenticação padrão (`x-digifarma-user` + `x-digifarma-token`) normalmente.\n\nOu seja: mesmo depois de definir a senha, você continua livre para chamar as rotas sem o header. A senha só é conferida quando o header aparece — é **decisão da integradora**, chamada a chamada.\n\n**Body enviado como form-data direto** (sem o campo `json` — diferente das demais rotas).",
        "tags": [
          "Utilitários"
        ],
        "parameters": [
          {
            "name": "x-digifarma-user",
            "in": "header",
            "required": true,
            "description": "Usuário fornecido pela Digifarma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-digifarma-token",
            "in": "header",
            "required": true,
            "description": "Token obtido via `GetToken`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "description": "CNPJ da loja para a qual a senha será definida"
                  },
                  "senha": {
                    "type": "string",
                    "description": "Senha alfanumérica a ser vinculada ao CNPJ"
                  }
                },
                "required": [
                  "cnpj",
                  "senha"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true
                }
              }
            }
          }
        }
      }
    }
  }
}
